@model IEnumerable<Entities.AuctionItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-action="MyBids">Mine bud</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidCustomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidCustomPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidTimeStamp)
            </td>
            <td>
                <a asp-action="Bid" asp-route-id="@item.ItemNumber">Byd</a> |
                <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
